# Rotorflight / STM32F745 (S745) 4.2.9 Jul  8 2021 / 13:08:51 (02ea72ef6) MSP API: 1.43
#
#    Board configuration file for Dr.Rudder's TREX-450 test helicopter 
#    with Kakute F7 Mini v2, BLHeli32 ESC, FrSky XSR FPORT, NO VIDEO.
#

board_name KAKUTEF7MINI
manufacturer_id HBRO


## Resources

# Status LED
resource LED 1 A02

# Label: BZ-
resource BEEPER 1 D15

# Label: LEDS
# Pin D12: T4Ch1 (AF2) DMA1 Stream 0 Channel 2
resource LED_STRIP 1 D12
timer D12 AF2
dma pin D12 0

# Label: M1
# Usage: Servo#1
# Pin B00: T3Ch3 (AF2) DMA1 Stream 7 Channel 5
resource SERVO 1 B00
timer B00 AF2
dma pin B00 0

# Label: M2
# Usage: Servo#2
# Pin B01: T3Ch4 (AF2) DMA1 Stream 2 Channel 5
resource SERVO 2 B01
timer B01 AF2
dma pin B01 0

# Label: M3
# Usage: Servo#3
# Pin E09: T1Ch1 (AF1) DMA2 Stream 3 Channel 6
resource SERVO 3 E09
timer E09 AF1
dma pin E09 2

# Label: M4
# Usage: Servo#4
# Pin E11: T1Ch2 (AF1) DMA2 Stream 2 Channel 6
resource SERVO 4 E11
timer E11 AF1
dma pin E11 1

# Label: M5
# Usage: Motor#2 or Servo#5
# Pin C09: T8Ch4 (AF3) DMA2 Stream 7 Channel 7
#resource MOTOR 2 C09
#resource SERVO 5 C09
#timer C09 AF3
#dma pin C09 0

# Label: M6
# Usage: Motor#1
# Pin A03: T5Ch4 (AF2) DMA1 Stream 1 Channel 6
resource MOTOR 1 A03
timer A03 AF2
dma pin A03 0

# Label: SCL/SDA
# Usage: I2C1
resource I2C_SCL 1 B06
resource I2C_SDA 1 B07

# Label: T1/R1
# Usage: UART1
resource SERIAL_TX 1 A09
resource SERIAL_RX 1 A10

# Label: T2/R2
# Usage: UART2
resource SERIAL_TX 2 D05
resource SERIAL_RX 2 D06

# Label: T3/R3
# Usage: UART3 or I2C2
resource SERIAL_TX 3 B10
resource SERIAL_RX 3 B11
#resource I2C_SCL 2 B10
#resource I2C_SDA 2 B11

# Label: T4/R4
resource SERIAL_TX 4 A00
resource SERIAL_RX 4 A01

# Label: T6/R6
resource SERIAL_TX 6 C06
resource SERIAL_RX 6 C07

# Label: ESC/R7
resource SERIAL_RX 7 E07

# Flash: SPI1
resource FLASH_CS 1 A04
resource SPI_SCK  1 A05
resource SPI_MISO 1 A06
resource SPI_MOSI 1 A07

# OSD: SPI2
#resource OSD_CS   1 B12
#resource SPI_SCK  2 B13
#resource SPI_MISO 2 B14
#resource SPI_MOSI 2 B15

# GYRO: SPI4
resource GYRO_EXTI 1 E01
resource GYRO_CS  1 E04
resource SPI_SCK  4 E02
resource SPI_MISO 4 E05
resource SPI_MOSI 4 E06

# ADC inputs
resource ADC_CURR 1 C02
resource ADC_BATT 1 C03
resource ADC_RSSI 1 C05

# ADC: DMA2 Stream 4 Channel 0
dma ADC 1 1

# USB detect
resource USB_DETECT 1 A08


## master

# Gyro
set gyro_1_bustype = SPI
set gyro_1_spibus = 4
set gyro_1_sensor_align = CW270

# Baro
set baro_bustype = I2C
set baro_i2c_device = 1
set baro_hardware = BMP280

# MAG
set mag_bustype = I2C
set mag_i2c_device = 2
set mag_hardware = NONE

# ADC
set current_meter = ADC
set battery_meter = ADC

# Beeper
set beeper_inversion = ON
set beeper_od = OFF

# Video
#set max7456_spi_bus = 2

# BlackBox
set blackbox_device = SPIFLASH
set flash_spi_bus = 1

# Board alignment
set align_board_yaw = 0
set align_board_roll = 0
set align_board_pitch = 0

# Motor protocol
set motor_pwm_protocol = DSHOT300

# PID scaler
set pid_process_denom = 8
