# Rotorflight / STM32F745 (S745) 4.2.9 Jul  8 2021 / 13:08:51 (02ea72ef6) MSP API: 1.43
#
#    Rotorflight settings for Dr.Rudder's TREX-450 test helicopter
#

# start the command batch
batch start

# features
feature -GPS
feature RX_SERIAL
feature TELEMETRY
feature RPM_FILTER
feature ESC_SENSOR
feature -FREQ_SENSOR
feature GOVERNOR
feature LED_STRIP

# servos
servo 1 1500 -500 500 -500 -10 0
servo 2 1500 -500 500 -500 -10 0
servo 3 1500 -500 500  500  40 0
servo 4 1500 -400 400 -500 -20 0

# mixer
mixer reset

# input     IN   MIN   MAX  RATE
#--------------------------------
mixer input ST     0  1000  1000
mixer input SR -1000  1000   800
mixer input SP -1000  1000   800
mixer input SC -1000  1000   900
mixer input SY -1000  1000   800

# rules    i  OP SRC DST WEIGHT OFFSET MODES
#--------------------------------------------
mixer rule 0 add  SC  S1   500    0
mixer rule 1 add  SC  S2   500    0
mixer rule 2 add  SC  S3   500    0
mixer rule 3 add  SR  S2   877    0
mixer rule 4 add  SR  S3  -877    0
mixer rule 5 add  SP  S1  1000    0
mixer rule 6 add  SP  S2  -500    0
mixer rule 7 add  SP  S3  -500    0
mixer rule 8 set  SY  S4  1000    0
mixer rule 9 set  ST  M1  1000    0

# channel map
map AETRC123

# serial ports
serial 1 64 115200 57600 0 115200
serial 2 0 115200 57600 0 115200
serial 3 0 115200 57600 0 115200
serial 5 1 115200 57600 0 115200
serial 6 1024 115200 57600 0 115200

# aux
aux 0 0 0 1800 2100 0 0
aux 1 1 2 1800 2100 0 0
aux 2 26 1 1800 2100 0 0

# rxfail
rxfail 0 s 1500
rxfail 1 s 1500
rxfail 2 s 1500
rxfail 3 h
rxfail 4 h


## Master settings

# Receiver config
set serialrx_provider = FPORT
set serialrx_inverted = ON
set serialrx_halfduplex = ON

# RC config
set deadband = 3
set yaw_deadband = 3
set min_check = 1020
set max_check = 2000

# RC input interpolation
set rc_interp_ch = RPYC

# RC Smoothing
set rc_smoothing_type = FILTER
set rc_smoothing_input_type = BIQUAD
set rc_smoothing_derivative_type = BIQUAD
set rc_smoothing_auto_smoothness = 66

# Failsafe
set failsafe_delay = 20
set failsafe_off_delay = 10
set failsafe_throttle = 1000
set failsafe_switch_mode = STAGE2
set failsafe_throttle_low_delay = 100
set failsafe_procedure = DROP
set failsafe_recovery_delay = 20
set failsafe_stick_threshold = 30

# Servo config
set servo_pwm_rate = 333

# Motor config
set motor_pwm_protocol = DSHOT600
set motor_rpm_lpf = 10,10,10,10
set motor_poles = 8,6,6,6
set dshot_burst = ON
set dshot_bidir = ON

# ADC sources
set battery_meter = ESC
set current_meter = ESC

# Battery voltages
set vbat_min_cell_voltage = 300
set vbat_warning_cell_voltage = 350

# Telemetry
#set telemetry_disabled_esc_rpm = OFF
#set telemetry_disabled_esc_voltage = OFF
#set telemetry_disabled_esc_current = OFF
#set telemetry_disabled_esc_temperature = OFF

# PID loop speed (8kHz / denom)
set pid_process_denom = 2

# Debug mode
set debug_mode = NONE


## Gyro filtering

# Debug axis
set gyro_filter_debug_axis = ROLL

# Hardware config
set gyro_hardware_lpf = NORMAL
set gyro_overflow_detect = ALL

# Fixed LPF
set gyro_lowpass_type = BIQUAD
set gyro_lowpass_hz = 125
set gyro_lowpass2_type = BIQUAD
set gyro_lowpass2_hz = 200

# Dynamic LPF
set gyro_dyn_lpf_min_hz = 25
set gyro_dyn_lpf_max_hz = 150

# Fixed notch filters
set gyro_notch1_hz = 0
set gyro_notch1_cutoff = 0
set gyro_notch2_hz = 0
set gyro_notch2_cutoff = 0

# Fixed D-term LPF
set dterm_lowpass_type = PT1
set dterm_lowpass_hz = 100
set dterm_lowpass2_type = PT1
set dterm_lowpass2_hz = 0

# Dynamic D-term LPF
set dterm_dyn_lpf_min_hz = 25
set dterm_dyn_lpf_max_hz = 150

# Fixed D-term notch - DISABLED
set dterm_notch_hz = 0
set dterm_notch_cutoff = 0

# RPM filter banks - Main gearing 14:150 - Tail gearing 25:106
set gyro_rpm_filter_bank_motor_index = 1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0
set gyro_rpm_filter_bank_gear_ratio = 10768,10661,5384,5330,3571,2679,2527,1786,1000,0,0,0,0,0,0,0
set gyro_rpm_filter_bank_notch_q = 200,200,200,200,200,150,150,200,200,0,0,0,0,0,0,0
set gyro_rpm_filter_bank_min_hz = 20,20,33,33,50,67,71,100,179,0,0,0,0,0,0,0
set gyro_rpm_filter_bank_max_hz = 60,60,120,120,180,240,254,360,643,0,0,0,0,0,0,0


## Governor

# Governor mode
set gov_mode = MODE2

# Gear ratio
set gov_gear_ratio = 10714

# Headspeed @ 100% throttle
set gov_max_headspeed = 3200

# Input value filters
set gov_pwr_filter = 10
set gov_rpm_filter = 10

# Governor global gain
set gov_gain = 50

# Governor PID gains
set gov_p_gain = 40
set gov_i_gain = 60
set gov_d_gain = 0
set gov_f_gain = 15

# Collective/cyclic weights
set gov_cyclic_ff_weight = 40
set gov_collective_ff_weight = 100

# Spoolup time [x0.1s]
set gov_spoolup_time = 150

# Headspeed tracking time [x0.1s]
set gov_tracking_time = 50

# Recovery time from throttle/headspeed error [x0.1s]
set gov_recovery_time = 30

# Max throttle lost period before going to IDLE [x0.1s]
set gov_lost_throttle_timeout = 30

# Max headspeed lost period before going to IDLE [x0.1s]
set gov_lost_headspeed_timeout = 30

# Max autorotation time allowed [x0.1s]
set gov_autorotation_timeout = 50

# Bailout (recovery) time from autorotation [x0.1s]
set gov_autorotation_bailout_time = 20

# Active time before autorotation possible [s]
set gov_autorotation_min_entry_time = 5

# Feed forward exponent
set gov_ff_exponent = 150



## Default profile

profile 0


## PID Loop

set p_pitch = 20
set i_pitch = 80
set d_pitch = 0
set f_pitch = 45

set p_roll = 20
set i_roll = 80
set d_roll = 0
set f_roll = 50

set p_yaw = 60
set i_yaw = 45
set d_yaw = 10
set f_yaw = 0

# I-term limit
set iterm_limit = 400

# I-term rotation - turn off with AC
set iterm_rotation = ON

# I-term relax
set iterm_relax = RP_INC
set iterm_relax_type = SETPOINT
set iterm_relax_cutoff = 10

# ABS control
set abs_control = OFF
set abs_control_gain = 30
set abs_control_cutoff = 11
set abs_control_limit = 120
set abs_control_error_limit = 45

# Tail feed-forward
set yaw_cyclic_ff_gain = 40
set yaw_collective_ff_gain = 100
set yaw_collective_ff_impulse_gain = 10
set yaw_collective_ff_impulse_freq = 100


## Rate profiles

rateprofile 0

set roll_rc_rate = 100
set pitch_rc_rate = 100
set yaw_rc_rate = 100

set roll_srate = 50
set pitch_srate = 50
set yaw_srate = 50

set roll_expo = 0
set pitch_expo = 0
set yaw_expo = 0


batch end
