# Motorised Tail (MT) ####################################################

# remove resources											
resource SERIAL_RX 4 NONE											
resource MOTOR 4 NONE											
resource MOTOR 1 NONE											
resource MOTOR 2 NONE											
resource MOTOR 3 NONE											

# resources											
resource MOTOR 1     A01											
resource MOTOR 2     C08											
resource SERVO 1     A09											
resource SERVO 2     A08											
resource SERVO 3     C09																				

set tail_rotor_mode = MOTORIZED											

# timers											
timer  A01   AF2              # M1 - pin A01: TIM5 CH2 (AF2)  											
timer  C08   AF3              # M2/S4 - pin C08: TIM8 CH3 (AF3)											
timer  A09   AF1              # S1 - pin A09: TIM1 CH2 (AF1)  											
timer  A08   AF1              # S2 - pin A08: TIM1 CH1 (AF1)  											
timer  C09   AF2              # S3 - pin C09: TIM3 CH4 (AF2)  											

# dma											
dma pin A01 0                 # M1 - 0: DMA1 Stream 4 Channel 6											
dma pin C08 0                 # M2/S4 - 0: DMA2 Stream 2 Channel 0 											
dma pin A09 0                 # S1 - 0: DMA2 Stream 6 Channel 0											
dma pin A08 0                 # S2 - 0: DMA2 Stream 6 Channel 0											
dma pin C09 0                 # S3 - 0: DMA1 Stream 2 Channel 5																														
######################################################################