### Remapping file for GF16 option (ST) ########

# remove resources											
resource MOTOR 1 NONE																					
resource MOTOR 2 NONE											
resource MOTOR 3 NONE											
resource MOTOR 4 NONE											

# resources											
resource MOTOR 1     B00											
resource MOTOR 2     NONE											
resource SERVO 1     C09											
resource SERVO 2     C08											
resource SERVO 3     B07											
resource SERVO 4     B05											

set tail_rotor_mode = VARIABLE											

# timers											
timer  B00   AF1              # M1 - pin B00: TIM1 CH2N (AF1)  											
timer  B05   AF2              # M2/S4 - pin B05: TIM3 CH2 (AF2)											
timer  C09   AF3              # S1 - pin C09: TIM8 CH4 (AF3)  											
timer  C08   AF3              # S2 - pin C08: TIM8 CH3 (AF3)  											
timer  B07   AF2              # S3 - pin B07: TIM4 CH2 (AF2)  											

# dma											
dma pin B00 0                 # M1 - 0: DMA2 Stream 6 Channel 0											
dma pin B05 0                 # M2/S4 -  0: DMA1 Stream 5 Channel 5											
dma pin C09 0                 # S1 - 0: DMA2 Stream 7 Channel 7											
dma pin C08 0                 # S2 - 0: DMA2 Stream 2 Channel 0											
dma pin B07 0                 # S3 - 0: DMA1 Stream 3 Channel 2																																										
##################################################################