# Servo Tail (ST) ####################################################

# remove resources
resource LED_STRIP 1 NONE
resource MOTOR 4 NONE
resource MOTOR 1 NONE
resource MOTOR 2 NONE
resource MOTOR 3 NONE

# resources											
resource MOTOR 1     B06																			
resource SERVO 1     B00											
resource SERVO 2     B01											
resource SERVO 3     A03											
resource SERVO 4     A02											
set tail_rotor_mode = VARIABLE											

# timers
timer  B06   AF2              # M1 - pin B06: TIM4 CH1 (AF2)
timer  A02   AF2              # M2/S4 - pin A02: TIM5 CH3 (AF2)
timer  B00   AF2              # S1 - pin B00: TIM3 CH3 (AF2)
timer  B01   AF2              # S2 - pin B01: TIM3 CH4 (AF2)
timer  A03   AF1              # S3 - pin A03: TIM2 CH4 (AF1)

# dma
dma pin B06 0                 # M1 - 0: DMA1 Stream 0 Channel 2
dma pin A02 0                 # M2/S4 -  0: DMA1 Stream 0 Channel 6
dma pin B00 0                 # S1 - 0: DMA1 Stream 7 Channel 5
dma pin B01 0                 # S2 - 0: DMA1 Stream 2 Channel 5
dma pin A03 0                 # S3 - 0: DMA1 Stream 7 Channel 3
######################################################################