### Remapping file for GHF420AIO option (b) ########

# remove resources											
resource MOTOR 4 NONE											
resource MOTOR 2 NONE											
resource LED_STRIP 1 NONE											
resource SERIAL_TX 3 NONE											
resource SERIAL_RX 3 NONE											
resource MOTOR 1 NONE											
resource MOTOR 3 NONE											

# resources											
resource MOTOR 1     C08											
resource MOTOR 2     B01											
resource SERVO 1     B06											
resource SERVO 2     B10											
resource SERVO 3     B11											
resource SERVO 4     NONE											

set tail_rotor_mode = MOTORIZED											

# timers											
timer  C08   AF2              # M1 - pin C08: TIM3 CH3 (AF2)  											
timer  B01   AF2              # M2/S4 - pin B01: TIM3 CH4 (AF2)											
timer  B06   AF2              # S1 - pin B06: TIM4 CH1 (AF2)  											
timer  B10   AF1              # S2 - pin B10: TIM2 CH3 (AF1)  											
timer  B11   AF1              # S3 - pin B11: TIM2 CH4 (AF1)  											

# dma											
dma pin C08 0                 # M1 - 0: DMA1 Stream 7 Channel 5											
dma pin B01 0                 # M2/S4 - 0: DMA1 Stream 2 Channel 5 											
dma pin B06 0                 # S1 - 0: DMA1 Stream 0 Channel 2											
dma pin B10 0                 # S2 - 0: DMA1 Stream 1 Channel 3											
dma pin B11 0                 # S3 - 0: DMA1 Stream 7 Channel 3																															
##################################################################